<div class="m-3">
  <div>
    <%# <%= cl_image_tag @lesson.photo.key, style:"width: 400px; object-fit: cover;" %>
    <%= image_tag "https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1532&q=80", class:"rounded-top", style:"width: 400px; object-fit: cover;" %>
  </div>
  <div class="bg-white p-4 rounded-bottom shadow-lg" style="width: 400px;">

    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <%# <%= cl_image_tag @user.photo.key, class: "avatar-small" %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-small" %>
        <p class="my-0 mx-2"><strong>Denis Gavrilenco</strong></p>
      </div>
      <span class="badge alert-success">2/3 places available</span>
    </div>

    <div class="d-flex align-items-center justify-content-between mt-2">
      <h5 class="mt-2">Dutch lessons</h5>
      <p class="m-0">17/08 - 19/08</p>
    </div>
  </div>
</div>

<div class="m-3">
  <div>
    <%# <%= cl_image_tag @lesson.photo.key, style:"width: 400px; object-fit: cover;" %>
    <%= image_tag "https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1532&q=80", class:"rounded-top", style:"width: 400px; object-fit: cover;" %>
  </div>

  <%# Your code %>

</div>
