
<div class="mb-4">
  <div>
    <%# <%= cl_image_tag @lesson.photo.key, style:"width: 400px; object-fit: cover;" %>
    <%= image_tag "https://www.sgl28.com/wp-content/uploads/2020/10/ruby.jpeg", class:"rounded-top", style:"width: 401px; object-fit: cover;" %>
  </div>
  <div class="bg-white p-4 rounded-bottom shadow-lg" style="width: 400px;">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-small" %>
      <p class="my-0 mx-2"><strong><%= lesson.user.first_name %> <%= lesson.user.last_name %></strong></p>
    </div>
    <div class="badge alert-danger"><%= lesson.places %>/10 places available</div>
  </div>
  <div class="d-flex align-items-center justify-content-between mt-2">
    <h5 class="mt-2"><%= lesson.title %></h5>
    <p class="m-0"><%= lesson.start_date.strftime("%a %d %b") %> - <%= lesson.end_date.strftime("%a %d %b")  %></p>
  </div>
</div>
</div>
