<h2 class="p-4">Buttons</h2>
<%= link_to "Home", "#", class: "btn btn-primary" %>
<%= link_to "Home", "#", class: "btn btn-secondary" %>

<h2 class="p-4">Navbar</h2>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
<div class="container">
  <a class="navbar-brand text-primary" href="#">Coaching4Life</a>
    <ul class="navbar-nav">
    <% if user_signed_in? %>
    <li class="nav-item active">
      <%= link_to "Home", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Log In", "#", class: "nav-link" %>
    </li>
    <% else %>
    <li class="nav-item active">
      <%= link_to "Home", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Dashboard", "#", class: "nav-link" %>
    </li>
    <% end %>
  </ul>
  </div>
</nav>

<h2 class="p-4">Index Card</h2>
<div class="bg-white p-4 m-3 rounded shadow-lg" style="width: 400px;">

  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-small" %>
      <p class="my-0 mx-2"><strong>Denis Gavrilenco</strong></p>
    </div>
    <span class="badge alert-success">2/3 places available</span>
  </div>

  <div class="d-flex align-items-center justify-content-between mt-2">
    <h5 class="mt-2">Dutch lessons</h5>
    <p class="m-0">17/08 - 19/08</p>
  </div>
</div>

<h2 class="p-4">Search form (Home)</h2>
<div class="bg-white p-4 w-25 m-3 rounded-3 shadow-lg">
  <h3 class="mb-3">Search for a course</h3>
  <%= simple_form_for(root_path) do |f| %>
    <%= f.input :location %>
    <%= f.input :category, :collection => %w[Learn_Language IT Fighting] %>
    <%= f.submit :Search, class: "btn btn-primary w-100 mt-2" %>
  <% end %>
</div>

<h2 class="p-4">Book a course (Show)</h2>
<div class="bg-white p-4 w-25 m-3 rounded-3 shadow-lg">
  <h3 class="mb-3">Book this course</h3>
  <%= link_to "Request", "#", class: "btn btn-primary w-100 mt-2" %>
</div>

<h2 class="p-4">Answer questions</h2>
<div class="bg-white p-4 w-25 m-3 rounded-3 shadow-lg">
  <h3 class="mb-3">One more step</h3>
  <p>Whats the level of your English at the moment?</p>
  <%= simple_form_for(root_path) do |f| %>
    <%= f.input :answer %>
    <%= f.submit :Next, class: "btn btn-primary w-100 mt-2" %>
  <% end %>
</div>

<h2 class="p-4">Profile sidebar (Dash)</h2>
<div class="bg-white p-4 w-25 h-100 m-3 rounded-3 shadow-lg">
  <h5 class="mb-3 text-center"><strong>PROFILE</strong></h5>
  <div class="text-center">
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-large m-3" %>
    <h4 class="mt-3">Denis Gavrilenco</h4>
    <p class="mt-3">Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Velit incidunt ad tempore
    reiciendis quos delectus hic reprehenderit, excepturi
    asperiores ut sed facere possimus doloribus quod consequuntur autem.
    Dignissimos, numquam voluptatibus!</p>
  </div>
  <%= link_to "Post a course", "#", class: "btn btn-primary w-100 mt-2" %>
  <%= link_to "Log out", "#", class: "btn btn-link text-danger w-100 mt-2" %>

</div>

<h2 class="p-4">Main (Dash)</h2>



<div class="text-center text-white" style="background-color: #21081a;">

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Made with ❤️ at <a class="text-white" href="https://lewagon.com/">LeWagon</a> in Amsterdam
  </div>
  <!-- Copyright -->
</div>
