<div class="row">
  <div class="row col-8">
  <%= form_tag(lessons_path, method: :get) do %>
  <%= select_tag(:category, options_for_select(Category::CATEGORIES)) %>
  <%= submit_tag("Search") %>
  <% end %>
    <% @lessons.each do |lesson| %>
      <div class="col-4">
        <div>
          <%= link_to lesson_path(lesson) do %>
          <%= render "shared/card_index", lesson: lesson %>
          <% end %>
        </div>
      </div>
     <% end %>
  </div>
  <div class="row col-4">

  </div>
</div>
